body.reise {
    background-color: var(--colorPage);
    height: 100vh;
    &.menu-is-open {
        .reisen-sidebar {
            flex: 0 0 $sideWidth !important;
        }
    }
    .site-menu {
        margin-top: 0;
        transform: scaleX(0);
        opacity: 1 !important;
        transform-origin: top left;
        transition:
            opacity 0.3s ease,
            background-color 0.5s ease,
            transform 0.3s ease;
        &.is-open {
            transform: scaleX(1);
        }
        .inner-page-logo {
            display: block;
            svg {
                border-width: 0.4rem;
                border-style: solid;
                border-color: white !important;
                box-shadow: inset 0 0 0 1px white !important;
                background-color: #dce0e3 !important;
                .st0 {
                    fill: white !important;
                }
            }
        }
        .site-menu__group {
            background-color: $lightgrey;
        }
        @include short-window-ratio {
            #header-svg {
                display: none;
            }
            .site-menu__inner {
                min-height: calc(100vh - 3.4rem);
            }
        }
    }
    .site-header {
        width: $sideWidth;
        transform: scaleY(0);
        transition: transform 0.3s ease;
        transform-origin: top center;
        &.open {
            transform: scaleY(1);
        }
        svg {
            border-color: var(--colorPage) !important;
            .st0 {
                fill: var(--colorPage) !important;
            }
        }
        .side-navigation {
            display: none;
        }
    }

    .reisen-sidebar {
        flex: 0;
        transition: flex 0.3s ease;
    }

    .single-reise-page {
        display: flex;
        gap: $generalPadding;
        margin: 0;
        transition: margin 0.3s ease;
        padding-right: $generalPadding;
        padding-bottom: $generalPadding;

        .reisen-sidebar {
            flex-shrink: 0;

            .reisen-page-info {
                text-transform: uppercase;
                text-align: center;
                padding-bottom: 0;
            }

            .reisen-pill {
                @include bubble;
                border-radius: 2rem;
                background: $lightgrey;
                transition: border-radius 0.3s ease;
                text-decoration: none;
                &:hover {
                    border-radius: 0;
                }
            }

            .reisen-pill--dark {
                background: #000;
                color: #fff;
            }

            .menu-button-js {
                @include invertedBubble;
                cursor: pointer;
                background-color: var(--colorPage);
                color: black;
                transition:
                    border-radius 0.3s ease,
                    transform 0.3s ease;
                transform-origin: top center;
                &.close-button-js {
                    transform: scaleY(0);
                }
                &:hover {
                    border-radius: 0;
                }
            }

            .reisen-home-link {
                margin-top: auto;
                background-color: var(--colorPage);
                color: black;
            }
        }

        &__content {
            display: flex;
            gap: $generalPadding;
            flex: 1;
            min-height: calc(100vh - 2 * #{$generalPadding});
        }

        &__images {
            // background-color: white;
            // padding-top: $generalPadding;
        }

        &__text {
            .single-reise-page__buttons-wrapper-outer {
                background-color: white;
                padding: $generalPadding;
                .bubble {
                    background-color: var(--colorPage);
                }
            }
        }

        &__text,
        &__images {
            flex: 0 0 50%;
            height: calc(100vh - 2 * #{$generalPadding});
            overflow: hidden;
            display: flex;
            flex-direction: column;
            gap: $generalPadding;
            @include sansserif;

            .scroll-container {
                height: calc(100vh - 2 * #{$generalPadding});
                overflow: scroll;
                display: flex;
                flex-direction: column;
            }

            .single-reise-page__description,
            .single-reise-page__text-container {
                strong {
                    text-transform: uppercase;
                }
            }

            .single-reise-page__text-container {
                margin-bottom: $generalPadding;
                // min-height: 100%;

                &:last-child {
                    margin-bottom: 0;
                }
                &.no-images {
                    flex: 1;
                }
                p {
                    margin-bottom: 1.1rem;
                }
                ul {
                    margin-bottom: 1.1rem;
                    li {
                        p {
                            margin-bottom: 0rem;
                            &::before {
                                background-color: var(--colorPage);
                            }
                        }
                    }
                }
            }

            &-container {
                padding: $generalPadding;
                background-color: white;
            }

            .single-reise-page__title {
                font-size: 3rem;
                line-height: 1;
                text-transform: uppercase;
                margin: 0 0 1.2rem 0 !important;
            }

            .reise-info-list {
                margin: 0 0 0rem 0;
                padding: 0;
                list-style: none;

                li {
                    position: relative;
                    padding-left: 1.5rem;
                    &::before {
                        content: '';
                        display: inline-block;
                        position: absolute;
                        left: -0rem;
                        width: 1.2rem;
                        height: 1.2rem;
                        border-radius: 1.2rem;
                        flex: 0 0 1.2rem;
                        background-color: var(--colorPage);
                        transform: translate(0rem, -0.1rem);
                        margin-right: 0.3rem;
                    }
                }
            }

            .single-reise-page__description {
                @include sansserif;
                margin-top: 0rem;

                p {
                    margin-bottom: 1.1rem;
                }

                ul {
                    margin: 0 0 1.1rem 0;
                    list-style: none;

                    li {
                        position: relative;
                        margin-bottom: 0.3rem;
                        // padding-left: 1.5rem;

                        p {
                            margin: 0;
                            &::before {
                                background-color: var(--colorPage);
                            }
                        }

                        // &::before {
                        //     content: '';
                        //     display: inline-block;
                        //     position: absolute;
                        //     left: -0rem;
                        //     width: 1.2rem;
                        //     height: 1.2rem;
                        //     border-radius: 1.2rem;
                        //     flex: 0 0 1.2rem;
                        //     background-color: var(--colorPage);
                        //     transform: translate(0rem, -0.1rem);
                        //     margin-right: 0.3rem;
                        // }
                    }
                }
            }
        }

        &__images {
            background-color: white;
            flex: 0 0 50%;
            height: calc(100vh - 2 * #{$generalPadding});
            overflow-y: scroll;
            display: flex;
            flex-direction: column;
            gap: $generalPadding;
            padding: $generalPadding;
            .scroll-container {
                display: flex;
                flex-direction: column;
                gap: $generalPadding;
            }
            &.no-images {
                background-color: transparent;
                padding: 0;
                .single-reise-page__description {
                    background-color: white;
                    padding: $generalPadding;
                }
                .single-reise-page__text-container {
                    min-height: 0;
                    flex: 1;
                }
            }
        }

        &__image {
            .inner-image-wrapper {
                display: flex;
                flex-direction: column;
                align-items: flex-end;

                img {
                    width: 100%;
                    height: auto;
                    display: block;
                }
            }
        }

        .credits-wrapper {
            margin-top: $generalPadding;
            background-color: var(--colorPage);
            cursor: pointer;
            transition: border-radius 0.3s ease;

            .credits-collapse-wrapper {
                height: 0;
                width: 0;
                transition:
                    height 0.3s ease,
                    width 0.3s ease;
                overflow: hidden;
            }

            .credits-content-wrapper {
                min-width: 16rem;
                text-transform: none;
                padding-top: 0.4rem;
            }

            &.is-open {
                border-radius: 0;
                padding-bottom: 0.4rem;
            }
        }
    }

    .bottom-button-wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: $generalPadding 0;

        a {
            margin-bottom: $generalPadding;
            text-decoration: none;

            &:first-child {
                background-color: var(--colorPage);
            }

            &:last-child {
                @include invertedBubble;
            }

            transition: border-radius 0.3s ease;

            &:hover {
                border-radius: 0;
            }
        }
    }
}
