body.termine {
    background-color: var(--colorPage);
    @include sansserif;

    .site-header {
        display: none;
    }

    .site-menu {
        margin-top: 0;
        transform: scaleX(0);
        opacity: 1 !important;
        transform-origin: top left;
        transition:
            opacity 0.3s ease,
            background-color 0.5s ease,
            transform 0.3s ease;
        &.is-open {
            transform: scaleX(1);
        }
        .inner-page-logo {
            display: block;
            svg {
                border-width: 0.4rem;
                border-style: solid;
                border-color: white !important;
                box-shadow: inset 0 0 0 1px var(--colorPage) !important;
                background-color: var(--colorPage) !important;
                .st0 {
                    fill: white !important;
                }
            }
        }
        .site-menu__group,
        .site-menu__lang-btn {
            // background-color: var(--colorPage) !important;
        }
        @include short-window-ratio {
            #header-svg {
                display: none;
            }
            .site-menu__inner {
                min-height: calc(100vh - 3.4rem);
            }
        }
    }

    &.menu-is-open {
        .termine-sidebar {
            flex: 0 0 $sideWidth !important;
        }
    }

    main.termine-template {
        width: calc(100vw - 2 * $generalPadding);
        min-height: calc(100vh - 2 * $generalPadding);
        display: flex;
        gap: $generalPadding;

        .termine-sidebar {
            flex: 0;
            transition: flex 0.3s ease;

            .termine-pill {
                @include bubble;
                border-radius: 2rem;
                background: $lightgrey;
                transition: border-radius 0.3s ease;
                text-decoration: none;
                &:hover {
                    border-radius: 0;
                }
            }

            .termine-pill--dark {
                background: var(--colorPage);
            }

            .menu-button-js {
                transition: border-radius 0.3s ease;
                &:hover {
                    border-radius: 0 !important;
                }
            }

            .termine-home-link {
                margin-top: auto;
                background: var(--colorPage);
            }
        }

        .termine-content {
            background: white;
            padding: 0.7rem;
            flex: 1;
            overflow: hidden;
            height: calc(100vh - 2 * $generalPadding);
            overflow: hidden;

            .scroll-container {
                height: calc(100vh - 2 * $generalPadding);
                overflow-y: scroll;
                padding-bottom: 0.8rem;
            }

            .termin-card {
                display: block;
                margin-bottom: 0.55rem;
                background-color: var(--color, $lightgrey);
                text-decoration: none;
                color: inherit;
                padding: 1rem;
                transition:
                    border-radius 0.3s ease,
                    background-color 0.3s ease;

                &:hover {
                    border-radius: 1.3rem;
                    background-color: var(
                        --hovercolor,
                        var(--color, $lightgrey)
                    );

                    ul li > p::before {
                        background-color: color-mix(
                            in srgb,
                            var(--hovercolor, var(--color, $lightgrey)) 75%,
                            black
                        );
                    }
                }

                &__header {
                    display: flex;
                    justify-content: space-between;
                    gap: $generalPadding;
                    text-transform: uppercase;
                    margin-bottom: 4rem;
                    .termin-card__date {
                        width: 100%;
                        text-align: center;
                    }
                }

                &__bodytext {
                    margin-bottom: 4rem;

                    p {
                        margin-bottom: 0.3rem;
                    }
                }

                &__cta {
                    text-decoration: underline;
                    text-underline-offset: 0.1em;
                }
            }
        }
    }
}
